.feed-container{
    align-items: center;
    width: 100%;
}

.feed-header{
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 20px; 
    padding-left: 0px;
    width: 100%;
}

.feed-heading{
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%;
}

.feed-heading h1{
    font-weight: 400;
    font-size: 45px;
}

.new-post-button{
    background-color: var(--dark-purple);
    color: var(--white);
    display: flex;
    align-items: center; 
    justify-content: center; 
    gap: 10px; 
    padding: 10px 20px; 
    border: none;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    font-size: 16px;
}

.new-post-button svg{
    width: 25px;
    height: 25px;
    margin-top: -3px; 
    
}

.new-post-button:hover{
    background-color: #703383;
}

.input-wrapper {
    display: flex;
    align-items: center;
    border: 1px solid var(--light-gray);
    border-radius: 15px;
    padding: 5px;
    background-color: var(--light-gray);
    width: 300px;
    gap: 10px;
  }
  
  .input-icon {
    margin-right: 5px;
  }
  
  .search-input {
    border: none;
    outline: none;
    width: 100%;
    background-color: var(--light-gray);
  }

  .sort-button{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 130px;
      height: 49px;
      border-radius: 25px;
      gap:10px;


}
.feed-card-grid {
    display: flex;
    flex-wrap: wrap;
    gap:20px 
}

.post-card {
    flex: 1 0 21%; 
    margin: 0.5%; 
}

@media (max-width: 600px) {
    .feed-header {
        flex-direction: column;
    }

    .new-post-button, .input-wrapper {
        width: 100%; 
        margin-bottom: 10px; 
    }
}