.navbar-menu{
    min-width: 304px;
    background-color: var(--light-purple);   
}

.navbar-menu .logo{
    height: auto;
    align-items: left;
    padding: 0;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3em;
}

.user-handle {
    font-size: 12px; 
    padding-bottom: 5em;
}

.user-stats {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin-left: 20px; 
    align-items: center;
    justify-content: space-around;

}

.user-stats li {
    display: flex; 
    align-items: center; 
    margin-right: 20px; 

}

.user-stats-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0 0 35px;
    font-size: .8em;
    font-weight: 600;
    background-color: var(--light-purple); 
}

.user-stats-item span:first-child {
    font-weight: bold;
}

.vertical-line {
    height: 100px;
    border-left: 1px solid var(--dark-gray);
}

.menu-guide{
    margin-top: 50px;
}

.menu-item {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    justify-content: flex-start; 
    text-align: left;
    list-style: none;
    margin: 0;
    padding: 0 35px 20px; 
    gap: 20px;
    font-size: 1em;
    font-weight: 600;
    background-color: var(--light-purple);
}

.menu-item a {
    display: flex;
    align-items: center; 
    gap: 19px; 
}

.menu-item:hover{
    color: #747bff;
    cursor: pointer;
}

.menu-item span {
    line-height: 20px; 
}

.menu-guide{
    display: flex;
    flex-direction: column;  
    width: 100%;             
    padding-left: 0;         
    list-style-type: none;
}

  a{
    color: white;
  }

