.navbar-menu{
    min-width: 304px;
    background-color: var(--light-purple);   
}

.navbar-menu .logo{
    height: auto;
    align-items: left;
    padding: 0;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3em;
}

.user-handle {
    font-size: 12px; 
    padding-bottom: 2em;
}

.user-stats {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin-left: 20px; 
    align-items: center;
    justify-content: space-around;

}

.user-stats li {
    display: flex; 
    align-items: center; 
    margin-right: 20px; 

}

.user-stats-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0 0 35px;
    font-size: .8em;
    font-weight: 600;
    background-color: var(--light-purple); 
}

.user-stats-item span:first-child {
    font-weight: bold;
}

.vertical-line {
    height: 50px;
    border-left: 1px solid var(--dark-gray);
}
VerticalLine {
    height: 50px;
    border-left: 1px solid var(--dark-gray);

}

.menu-guide{
    margin-top: 30px;
}

.menu-item {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    justify-content: flex-start; 
    text-align: left;
    list-style: none;
    margin: 0;
    padding: 0 35px 20px; 
    gap: 20px;
    font-size: 1em;
    font-weight: 600;
    background-color: var(--light-purple);
}

.menu-item a {
    display: flex;
    align-items: center; 
    gap: 19px; 
}

.menu-item:hover{
    color: #747bff;
    cursor: pointer;
}

.menu-item span {
    line-height: 20px; 
}

.menu-guide{
    display: flex;
    flex-direction: column;  
    width: 100%;             
    padding-left: 0;         
    list-style-type: none;
}

a{
color: white;
}

@media (max-width: 900px) {
    .navbar-menu {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: var(--light-purple);
        z-index: 1000;
    }
  
    .navbar-menu .logo {
      display: block;
      margin: 0 auto;
      width: 150px; /* Adjust as needed */
      padding: 10px 0; /* Add some padding for better spacing */
    }
  
    .menu-guide {
        position: fixed;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
        background-color: var(--light-purple);
        flex-direction: row; /* Display in a row */
        padding: 0.8em 0; /* Add some padding for better spacing */
        margin: 0;
    }
    .menu-item{
        padding: 0px;
    }
  
    .menu-item span {
      display: none;
    }

    .menu-item div{
        display: none;
      }
    .horizontal-line-container .HorizontalLine {
        display: none;
    }

    .user-info div{
        display: none;
    }

    .navbar-menu .user-info{
        display: none;
    }
    
  
    .main-content {
      margin-top: 50px; 
      padding-bottom: 50px; 
    }
  }

  
