:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --light-purple: #F8F4F6;
  --dark-purple: #592868;
  --dark-light-purple: #703383;
  --white: #FFFDFD;
  --light-gray: #F7F7F7;
  --light-mid-gray: #dbdbdb;
  --mid-gray: #C2C2C2;
  --dark-gray: #939393;
  --dark-blue: #213547;
  --red: #E65050;
  
}



.app-container {
  display: flex;
  min-height: 100vh;
  height: 100%;
  /*display: grid;
  grid-template-columns: 200px 1fr; 
  /*height: 100vh;*/
}

.sidebar {

  background-color: var(--light-purple);
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  
  display: flex;
  flex-direction: column;
  
  /*height: 100%;
    width: 30%;
    position: fixed;
    font-size: larger;
    font-weight: bolder;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: var(--light-purple);
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    min-width: 304px;
    max-width: 400px;*/
}


.main-content {
  flex-grow: 1; 
    padding: 20px; 
    width: 100%;
    margin-left: 5em;
    width: 100vh;
    margin-left: 22em;
    margin-right: 1em;
   
  /*grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  margin-left: 3.5em;*/
}

.form-main-content {
  flex-grow: 1; 
    width: 100%;
    width: 100vh;
    margin-left: 21.4em;
  
  /*grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  margin-left: 3.5em;*/
}

.authentication-main-content {
  flex-grow: 1; 
    width: 100%;
    width: 100vh;
    margin-top: 7em;
    margin-left: 30em;
    margin-right: 7em;

  
  /*grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  margin-left: 3.5em;*/
}

a {
  font-weight: 500;
  color: var(--dark-blue);
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  
  min-width: 320px;
  min-height: 100vh;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}


.login-sidebar {
  min-width: 304px;
  max-width: 400px;
  background-color: var(--light-purple);
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 15px 10px;
  display: flex;
  flex-direction: column;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: var(--white);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (max-width: 1024px) {
  .app-container {
    display: block;
    width: 100%;
  }

  .login-sidebar {
    position: relative;
    /* width: 100%; */
    min-width: 285px;
    max-width: 1024px;
    padding: 1em;
    justify-content: center;
    align-items: center;
    margin-bottom: 3em;
  }

  .authentication-main-content {
    margin-top: 1em;
    margin-left: 0;
    margin-right: 0;
    /* width: 100%; */
    /* justify-content: center; */
    /* align-items: baseline; */
    /* display: flex; */
    margin: 0 auto;
    min-width: 20px;
    max-width: 431px;
}

  .authentication {
    min-width: 15em; 
    /* max-width: 40em; */
    margin: 0;
  }

  body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #root {
    height: 100vh;
    min-width: 285px;
    max-width: 1024px;
  }

  .main-content {
    flex-grow: 1; 
      padding: 20px; 
      width: 100%;
      margin-left: 5em;
      width: 100vh;
      margin-left: 22em;
      margin-right: 1em;
      margin-top: 0em;
  }
}

@media (max-width: 1024px) {
  .authentication-main-content {
    
    /* width: 100%; */
    /* justify-content: center; */
    /* align-items: baseline; */
    /* display: flex; */
    margin: 0 auto;
    min-width: 20px;
    max-width: 300px;
  }   

}

@media (max-width: 430px) {
  .main-content {
    padding-top: 1em;
    padding-bottom: 60px; /* Space for the fixed menu */
    margin-left: 0;
    margin-right: 0;
    max-width: 420px;
    height: 77%;
  }
  #root {
    height: 100vh;
    min-width: 285px;
    max-width: 430px;
  }
  .sidebar {
    min-width: 0px; 
    max-width: 0px;
    padding: 0px 0px;
    }

    .form-main-content {
      width: 100%;
      margin-left: 0em;
      margin-right: 0em;
      padding-top: 3em;
    }
}



@media (max-width: 390px) {
  .main-content {
      margin-top: 4em;
      padding-bottom: 60px;
      margin-left: 0;
      margin-right: 0;
      max-width: 349px;
  }
}